{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "请到下一界面并选择一个新的密码。" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "以免您忘记，请再次输入用户名：" %} {{ user.get_username }}

{% trans "感谢您使用我们的网站！" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
