{% extends "app/layout.html" %}
{% block title %}重置密码{% endblock %}
{% block head %}重置密码{% endblock %}
{% block content %}
<p>请在下面输入您注册的电子邮件地址，系统会为您生成一个新的登录密码，并将该密码发送到您的电子邮箱中。</p>
<!--如果输入的电子邮件地址有错误-->
{% if form.has_errors %}
<ul class="errorlist"><li>您输入的不是您注册的电子邮件地址！ 请重新输入。</li></ul>
{% endif %}
<!--action 属性指定由password_reset 函数负责处理该表单用post 方法提交的数据-->
<form method="post" action="../reset/done">
<p><label for="id_email">电子邮件:</label>
<!--{{form.email}}用于从password_reset 函数传递过来的重置密码表单对象form 中取出描述用户电子邮件输入框的html 代码-->
{{form.email}}</p>
<input type="submit" value="确定">
</form>
{% endblock %}