<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<link href="/static/app/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/app/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/static/app/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="lalala" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--改变navbar颜色-->
<link href="/static/app/css/mynavbar.css" rel="stylesheet" type="text/css" media="all" />
<!-- start menu -->
<link href="/static/app/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/app/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="/static/app/js/simpleCart.min.js"> </script>
<link rel="stylesheet" type="text/css" href="/static/app/content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/app/content/site.css" />
<script src="/static/app/scripts/modernizr-2.6.2.js"></script>
<!-- slide -->
</head>

<body>
<div class="navbar navbar-mine navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="/" class="navbar-brand"></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">首页</a></li>
      </ul>
      {% include 'app/loginpartial.html' %} </div>
  </div>
</div>
<!--header-->

<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="col-sm-4 world">
        <ul >
          <li>
            <select class="in-drop">
              <option>电院</option>
              <option>机动学院</option>
              <option>安泰</option>
            </select>
          </li>
          <li>
            <select class="in-drop1">
              <option>全部</option>
              <option>大一</option>
              <option>大二</option>
              <option>大三</option>
            </select>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 logo"> <a href="/"><img src="/static/app/images/logo.png" alt=""></a> </div>
      <div class="col-sm-4 header-left">
        <div class="cart box_1"> </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="head-top">
    <div class="col-md-2 number"> <span><i class="glyphicon glyphicon-phone"></i></span> </div>
    <div class="col-md-8 h_menu4">
      <ul class="memenu skyblue">
        <li class=" grid"><a  href="/">Home</a></li>
        <li><a  href="#">教材</a>
          <div class="mepanel">
            <div class="row">
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="grid"><a  href="#">教辅</a>
          <div class="mepanel">
            <div class="row">
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a  href="/about">关于</a></li>
        <li><a class="color6" href="/contact">联系方式</a></li>
      </ul>
    </div>
    <div class="col-md-2 search"> <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a> </div>
    <div class="clearfix"> </div>
    <!---pop-up-box----> 
    <script type="text/javascript" src="/static/app/js/modernizr.custom.min.js"></script>
    <link href="/static/app/content/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="/static/app/js/jquery.magnific-popup.js" type="text/javascript"></script> 
    <!---//pop-up-box---->
    <div id="small-dialog" class="mfp-hide">
      <div class="search-top">
        <div class="login">
        <form action="\search" method="post">
          {% csrf_token %}
          <input type="submit" value="">
          <input type="text" name="keyword" value="你想找什么？" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
        </form>
        </div>
        <p> </p>
      </div>
    </div>
    <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script> 
    <!----> 
  </div>
</div>
</div>
    <div class="container body-content">
{% block content %}{% endblock %}
    </div>


{% block scripts %}{% endblock %}
<!--footer-->
<div class="footer-bottom">
  <div class="container">
    <div class="col-sm-3 footer-bottom-cate"> </div>
    <div class="col-sm-3 footer-bottom-cate"> </div>
    <div class="col-sm-3 footer-bottom-cate"> </div>
    <div class="col-sm-3 footer-bottom-cate cate-bottom">
      <h6>Our Address</h6>
      <ul>
        <li>上海市东川路800号 </li>
        <li>邮编：200240 </li>
        <li class="phone">Mail : 1419740049@qq.com</li>
      </ul>
    </div>
    <div class="clearfix"> </div>
    <p class="footer-class">Copyright &copy; 2016 Yishuwang name All rights reserved.</p>
  </div>
</div>
</div>

<!--//footer-->
<script src="/static/app/scripts/bootstrap.js"></script> 
<script src="/static/app/scripts/respond.js"></script> 
</body>
</html>
