{% extends "app/layout.html" %}

{% block content %}

<h2>用户注册</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>register a new account.</h4>
 
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">用户名</label>
                    <div class="col-md-10">
                        {{form.username}} {{form.username.errors}}                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">e-mail</label>
                    <div class="col-md-10">
                        {{form.email}} {{form.email.errors}}                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">密码</label>
                    <div class="col-md-10">
                        {{form.password1}} {{form.password1.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">确认密码</label>
                    <div class="col-md-10">
                        {{form.password2}}  {{form.password2.errors}}
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type = 'submit'  value="Submit" class="btn btn-default" /> 
                    </div>
                </div>
                {% for items in errors %}
                <p class="validation-summary-errors"> {{items}} </p>
                {% endfor %}
            </form>
        </section>
    </div>
</div>

{% endblock %}

