<!DOCTYPE html>
<html>
<head>
<title>注册</title>
<link href="/static/app/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/app/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/static/app/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="lalala" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--改变navbar颜色-->
<link href="/static/app/css/mynavbar.css" rel="stylesheet" type="text/css" media="all" />
<!-- start menu -->
<link href="/static/app/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/app/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="/static/app/js/simpleCart.min.js"> </script>
<link rel="stylesheet" type="text/css" href="/static/app/content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/app/content/site.css" />
<script src="/static/app/scripts/modernizr-2.6.2.js"></script>
<!-- slide -->
</head>

<body>
<div class="navbar navbar-mine navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="/" class="navbar-brand"></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">首页</a></li>
      </ul>
      {% include 'app/loginpartial.html' %} </div>
  </div>
</div>
<!--header-->

<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="col-sm-4 world">
        <ul >
          <li>
            <select class="in-drop">
              <option>电院</option>
              <option>机动学院</option>
              <option>安泰</option>
            </select>
          </li>
          <li>
            <select class="in-drop1">
              <option>全部</option>
              <option>大一</option>
              <option>大二</option>
              <option>大三</option>
            </select>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 logo"> <a href="/"><img src="/static/app/images/logo.png" alt=""></a> </div>
      <div class="col-sm-4 header-left">
        <div class="cart box_1"> </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="head-top">
    <div class="col-md-2 number"> <span><i class="glyphicon glyphicon-phone"></i></span> </div>
    <div class="col-md-8 h_menu4">
      <ul class="memenu skyblue">
        <li class=" grid"><a  href="/">Home</a></li>
        <li><a  href="#">教材</a>
          <div class="mepanel">
            <div class="row">
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="grid"><a  href="#">教辅</a>
          <div class="mepanel">
            <div class="row">
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a  href="/about">关于</a></li>
        <li><a class="color6" href="/contact">联系方式</a></li>
      </ul>
    </div>
    <div class="col-md-2 search"> <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a> </div>
    <div class="clearfix"> </div>
    <!---pop-up-box----> 
    <script type="text/javascript" src="/static/app/js/modernizr.custom.min.js"></script>
    <link href="/static/app/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="/static/app/js/jquery.magnific-popup.js" type="text/javascript"></script> 
    <!---//pop-up-box---->
    <div id="small-dialog" class="mfp-hide">
      <div class="search-top">
        <div class="login">
        <form action="\search" method="post">
          {% csrf_token %}
          <input type="submit" value="">
          <input type="text" name="keyword" value="你想找什么？" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
        </form>
        </div>
        <p> </p>
      </div>
    </div>
    <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script> 
    <!----> 
  </div>
</div>
<!--//header-->
<div class="container register">
  <h1>注册</h1>
  <form name="form1" method="post">
    <div class="col-md-6  register-top-grid">
      {% csrf_token %}
      {% for error in errors %}
      <p style="color:#ff0000">错误：{{error}}</p>
      {% endfor %}
      <div class="mation"> <span id="UN">用户名称</span>
        <input type="text" name="UserName"   size="12" maxlength="30">
        <span id="EA">邮箱地址</span>
        <input type="text"	name="EmailAddress" >
      </div>
    </div>
    <div class=" col-md-6 register-bottom-grid">
      <div class="mation"> <span id="P">密码</span>
        <input type="password" name="Password"  size="12" maxlength="12">
        <span id="CP">再次输入密码</span>
        <input type="password" name="ConfirmPassword"  onblur="ConfirmPassword_onblur()" size="12" maxlength="12">
        <div class="clearfix"> </div>
        <a herf="/user_aggrement/"><span id="CB">请阅读用户协议</span></a>
        <label class="checkbox">
          <input type="checkbox" name="checkbox">
          <i> </i>我同意用户协议</label>
      </div>
    </div>
    <div class="clearfix"> </div>
  </form>
  <div class="register-but">
    <form>
      <input type="button" value="提交并注册" onblur="ConfirmPassword_onblur()" onclick="btnCheckForm_onclick()">
      <div class="clearfix"> </div>
    </form>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="col-sm-3 footer-bottom-cate"> </div>
    <div class="col-sm-3 footer-bottom-cate"> </div>
    <div class="col-sm-3 footer-bottom-cate"> </div>
    <div class="col-sm-3 footer-bottom-cate cate-bottom">
      <h6>Our Address</h6>
      <ul>
        <li>上海市东川路800号 </li>
        <li>邮编：200240 </li>
        <li class="phone">Mail : 1419740049@qq.com</li>
      </ul>
    </div>
    <div class="clearfix"> </div>
    <p class="footer-class">Copyright &copy; 2016 Yishuwang name All rights reserved.</p>
  </div>
</div>
<script>
function btnCheckForm_onclick()
{
	var	myForm = document.form1;
	var flag = 1;

		if  (myForm.ConfirmPassword.value == "")
		{
			document.getElementById('CP').innerText ="再次输入密码(不能为空！)";
			document.all('CP').style.color="#ff0000";
			myForm.ConfirmPassword.focus();
		}
		else
		{
			document.getElementById('CP').innerText ="再次输入密码";
			document.all('CP').style.color="#b2b2b2";
		}

		if  (myForm.Password.value == "")
		{
			document.getElementById('P').innerText ="密码(不能为空！)";
			document.all('P').style.color="#ff0000";
			myForm.Password.focus();
		}
		else
		{
			document.getElementById('P').innerText ="密码";
			document.all('P').style.color="#b2b2b2";
		}

		if  (myForm.EmailAddress.value == "")
		{
			document.getElementById('EA').innerText ="邮箱地址(不能为空！)";
			document.all('EA').style.color="#ff0000";
			myForm.EmailAddress.focus();
		}
		else
		{
			document.getElementById('EA').innerText ="邮箱地址";
			document.all('EA').style.color="#b2b2b2";
		}

		if  (myForm.UserName.value == "")
		{
			document.getElementById('UN').innerText ="用户名称(不能为空！)";
			document.all('UN').style.color="#ff0000";
			myForm.UserName.focus();
		}
		else
		{
			document.getElementById('UN').innerText ="用户名";
			document.all('UN').style.color="#b2b2b2";
		}
	if (myForm.UserName.value == "" || myForm.EmailAddress.value == "" || myForm.Password.value == "" || myForm.ConfirmPassword.value == ""  )
	{
		flag=0;
	}
	else
	{
		var Un = document.form1.UserName;
		var myRegExp = /[a-zA-Z_0-9]{4,30}$/i;
		if (myRegExp.test(Un.value)==false)
		{
			document.getElementById('UN').innerText ="用户名（4-30位，只能输入字母数字和下划线）";
			document.all('UN').style.color="#ff0000";
			Un.focus();
			Un.select();
			flag = 0;
		}
		else
		{
			document.getElementById('UN').innerText ="用户名";
			document.all('UN').style.color="#b2b2b2";
		}
		var EA = document.form1.EmailAddress
		var myRegExp = /^([^<>()\[\],;:@"\x00-\x20\x7F]|\\.)+@(([a-z]|#\d+?)([a-z0-9]|#\d+?)*([a-z0-9]|#\d+?)\.)+([a-z]{2,4})$/i;
		if (myRegExp.test(EA.value)==false)
		{
			document.getElementById('EA').innerText ="邮箱地址（请输入正确的邮箱地址）";
			document.all('EA').style.color="#ff0000";
			EA.focus();
			EA.select();
			flag = 0;
		}
		else
		{
			document.getElementById('EA').innerText ="邮箱地址";
			document.all('EA').style.color="#b2b2b2";
		}
		var Pw = document.form1.Password;
		var myRegExp = /[a-zA-Z_0-9]{6,20}$/i;
		if (myRegExp.test(Pw.value)==false)
		{
			document.getElementById('P').innerText ="密码（请输入6~20位数字和字母）";
			document.all('P').style.color="#ff0000";
			Pw.focus();
			Pw.select();
			flag = 0;
		}
		else
		{
			document.getElementById('P').innerText ="密码";
			document.all('P').style.color="#b2b2b2";
		}
		var FN = document.form1.ConfirmPassword;
		var FN1 = document.form1.Password.value;
		if (FN.value!=FN1)
		{
			document.getElementById('CP').innerText ="请再一次输入相同的密码";
			document.all('CP').style.color="#ff0000";
			FN.focus();
			FN.select();
			flag = 0;
		}
		else
		{
			document.getElementById('CP').innerText ="再次输入密码";
			document.all('CP').style.color="#b2b2b2";
		}
		var CBox=document.form1.checkbox;
		if (!(CBox.checked))
		{
		    document.getElementById('CB').innerText ="是否同意用户协议？";
			document.all('CB').style.color="#ff0000";
			CBox.focus();
			flag=0;
	    }
	if (flag==1)
	{
		myForm.submit()
	}
}}

function ConfirmPassword_onblur()
{
	var FN = document.form1.ConfirmPassword;
	var FN1 = document.form1.Password.value;
	if (FN.value!=FN1)
	{
		document.getElementById('CP').innerText ="请再一次输入相同的密码";
		document.all('CP').style.color="#ff0000";
		FN.focus();
		FN.select();
	}
	else
		{
			document.getElementById('CP').innerText ="再次输入密码";
			document.all('CP').style.color="#b2b2b2";
		}
}
</script> 
 
<script src="/static/app/scripts/bootstrap.js"></script> 
<script src="/static/app/scripts/respond.js"></script> 
<!--//footer-->
</body>
</html>
