<!DOCTYPE html>
<html>
<head>
<title>单品页面——{{item.name_book}}</title>
  {% load static %}
<link href="{% static 'app/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'app/js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'app/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="lalala" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--改变navbar颜色-->
<link href="{% static 'app/css/mynavbar.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- start menu -->
<link href="{% static 'app/css/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'app/js/memenu.js' %}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="{% static 'app//js/simpleCart.min.js' %}"> </script>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
<script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
<!-- slide -->

<style >
.pagination {
	font-size: 16px;
	font-weight: bolder;
	margin: auto;
}
</style>
</head>

<body>
<div class="navbar navbar-mine navbar-fixed-top" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="/" class="navbar-brand"></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">首页</a></li>
      </ul>
      {% include 'app/loginpartial.html' %} </div>
  </div>
</div>
<!--header-->

<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="col-sm-4 world">
        <ul >
          <li>
            <select class="in-drop">
              <option>电院</option>
              <option>机动学院</option>
              <option>安泰</option>
            </select>
          </li>
          <li>
            <select class="in-drop1">
              <option>全部</option>
              <option>大一</option>
              <option>大二</option>
              <option>大三</option>
            </select>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 logo"> <a href="/"><img src="{% static 'app/images/logo.png' %}" alt=""></a> </div>
      <div class="col-sm-4 header-left">
        <div class="cart box_1"> </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="head-top">
    <div class="col-md-2 number"> <span><i class="glyphicon glyphicon-phone"></i></span> </div>
    <div class="col-md-8 h_menu4">
      <ul class="memenu skyblue">
        <li class=" grid"><a  href="/">Home</a></li>
        <li><a  href="#">教材</a>
          <div class="mepanel">
            <div class="row">
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="grid"><a  href="#">教辅</a>
          <div class="mepanel">
            <div class="row">
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
              <div class="col1">
                <div class="h_nav">
                  <h4>类别</h4>
                  <ul>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                    <li><a href="products.html">类别</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a  href="/about">关于</a></li>
        <li><a class="color6" href="/contact">联系方式</a></li>
      </ul>
    </div>
    <div class="col-md-2 search"> <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a> </div>
    <div class="clearfix"> </div>
    <!---pop-up-box----> 
    <script type="text/javascript" src="{% static 'app/js/modernizr.custom.min.js' %}"></script>
    <link href="{% static 'app/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <script src="{% static 'app/js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
    <!---//pop-up-box---->
    <div id="small-dialog" class="mfp-hide">
      <div class="search-top">
        <div class="login">
          <form method="post" action="/search">
            {% csrf_token %}
            <input type="submit" value="">
            <input type="text" name='keyword' value="你想找什么？" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
          </form>
        </div>
        <p> </p>
      </div>
    </div>
    <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script> 
    <!----> 
  </div>
</div>
</div>
<div class="single">
  <div class="container">
    <div class="col-md-9">
      <div class="col-md-5 grid">
        <div class="flexslider">
          <ul class="slides">
            <li data-thumb="{{item.photo_book}}">
              <div class="thumb-image"> <img src="{{item.photo_book}}" data-imagezoom="true" class="img-responsive"> </div>
            </li>
            <li data-thumb="{{item.photo_book}}">
              <div class="thumb-image"> <img src="{{item.photo_book}}" data-imagezoom="true" class="img-responsive"> </div>
            </li>
            <li data-thumb="{{item.photo_book}}">
              <div class="thumb-image"> <img src="{{item.photo_book}}" data-imagezoom="true" class="img-responsive"> </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-7 single-top-in">
        <div class="single-para simpleCart_shelfItem">
          <h1>{{item.name_book}}</h1>
          <p>年级：{{item.grade_book}}</p>
          <p>专业：{{item.major_book}} </p>
          <p>卖家描述：</p>
          <p>{{item.description_book}} </p>
          <div class="clearfix"> </div>
          <label  class="add-to item_price">{{item.discount_book}}折</label>
          <a href="javascript:buy()" class="cart item_add">购买</a> </div>
      </div>
      <div class="clearfix"> </div>
      <div class="content-top1"> {% for book in similar %}
        <div class="col-md-4 col-md3">
          <div class="col-md1 simpleCart_shelfItem"> <a href="/detail?id={{book.id}}"> <img class="img-responsive" src="/media/{{book.photo_book}}" alt="" /> </a>
            <h3><a href="/detail?id={{book.id}}">{{ book.name_book }}</a></h3>
            <div class="price">
              <h5 class="item_price">{{ book.discount_book }}折</h5>
              <a href="/detail?id={{book.id}}" class="item_add">详情</a>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        {% endfor %} </div>
      <div class="clearfix"> </div>
    </div>
    <!----->
    <div class="col-md-3 product-bottom"> 
      <!--categories-->
      <div class=" rsidebar span_1_of_left">
        <h3 class="cate">Categories</h3>
        <ul class="menu-drop">
          <li class="item1"><a href="#">理科 </a>
            <ul class="cute">
              <li class="subitem1"><a href="/search?keyword=数学">数学 </a></li>
              <li class="subitem2"><a href="/search?keyword=物理">物理 </a></li>
              <li class="subitem3"><a href="/search?keyword=化学">化学 </a></li>
            </ul>
          </li>
          <li class="item2"><a href="#">工科 </a>
            <ul class="cute">
              <li class="subitem1"><a href="/search?keyword=机械动力">机械动力 </a></li>
              <li class="subitem2"><a href="/search?keyword=船舶建筑">船舶建筑 </a></li>
              <li class="subitem3"><a href="/search?keyword=计算机">计算机 </a></li>
            </ul>
          </li>
          <li class="item3"><a href="#">文科</a>
            <ul class="cute">
              <li class="subitem1"><a href="/search?keyword=历史学">历史学</a></li>
              <li class="subitem2"><a href="/search?keyword=语言学">语言学 </a></li>
              <li class="subitem3"><a href="/search?keyword=媒体与设计">媒体与设计</a></li>
            </ul>
          </li>
          <li class="item4"><a href="#">文学</a>
            <ul class="cute">
              <li class="subitem1"><a href="/search?keyword=小说">小说</a></li>
              <li class="subitem2"><a href="/search?keyword=散文集">散文集</a></li>
              <li class="subitem3"><a href="/search?keyword=杂文集">杂文集</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--initiate accordion--> 
      <script type="text/javascript">
							$(function() {
							    var menu_ul = $('.menu-drop > li > ul'),
							           menu_a  = $('.menu-drop > li > a');
							    menu_ul.hide();
							    menu_a.click(function(e) {
							        e.preventDefault();
							        if(!$(this).hasClass('active')) {
							            menu_a.removeClass('active');
							            menu_ul.filter(':visible').slideUp('normal');
							            $(this).addClass('active').next().stop(true,true).slideDown('normal');
							        } else {
							            $(this).removeClass('active');
							            $(this).next().stop(true,true).slideUp('normal');
							        }
							    });
							
							});
						</script> 
      <!--//menu--> 
      
      <!--tag-->
      <div class="tag">
        <h3 class="cate">Tags</h3>
        <div class="tags">
          <ul>
            <li><a href="/search?keyword=算法">算法</a></li>
            <li><a href="/search?keyword=数电">数电</a></li>
            <li><a href="/search?keyword=大学物理">大物</a></li>
            <li><a href="/search?keyword=马原">马原</a></li>
            <li><a href="/search?keyword=思修">思修</a></li>
            <li><a href="/search?keyword=近代纲">近代纲</a></li>
            <li><a href="/search?keyword=基电">基电</a></li>
            <li><a href="/search?keyword=线性代数">线代</a></li>
            <li><a href="/search?keyword=微积分">微积分</a></li>
            <li><a href="/search?keyword=数理方法">数理</a></li>
            <li><a href="/search?keyword=信号与系统">信号</a></li>
            <li><a href="/search?keyword=经济学">经济学</a></li>
            <div class="clearfix"> </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!--footer-->
<div class="footer-bottom">
  <div class="container">
    <div class="col-sm-3 footer-bottom-cate"> </div>
    <div class="col-sm-3 footer-bottom-cate"> </div>
    <div class="col-sm-3 footer-bottom-cate"> </div>
    <div class="col-sm-3 footer-bottom-cate cate-bottom">
      <h6>Our Address</h6>
      <ul>
        <li>上海市东川路800号 </li>
        <li>邮编：200240 </li>
        <li class="phone">Mail : 1419740049@qq.com</li>
      </ul>
    </div>
    <div class="clearfix"> </div>
    <p class="footer-class">Copyright &copy; 2016 Yishuwang name All rights reserved.</p>
  </div>
</div>
</div>



<script src="{% static 'app/js/imagezoom.js' %}"></script>
 
<!-- FlexSlider --> 
<script defer src="{% static 'app/js/jquery.flexslider.js' %}"></script>
<link rel="stylesheet" href="{% static 'app/css/flexslider.css' %}" type="text/css" media="screen" />
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>
<!--为进一步完善购物系统预留的接口-->
<script>
function buy(){
	alert(" 发布者是：{{item.master}}   \n 邮箱：{{item.master.email}}   \n 请联系发布者购买")}
</script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>
</body>
</html>