{% extends "app/layout.html" %}

{% block content %}
<li>大一上</li>
    <a href="upload_book/1/dianyuan" >电院大平台</a>
    <li>大一下</li>
    <a href="upload_book/2/dianyuan">电院大平台</a>
    
    <li>大二上</li>
     <a href="upload_book/3/dianqi" >电气</a>
    <a href="upload_book/3/cekong" >测控</a>
    <a href="upload_book/3/zidonghua" >自动化</a>
    <a href="upload_book/3/xinan" >信安</a>
    <a href="upload_book/3/ruanyuan">软院</a>
    <a href="upload_book/3/jisuanji">计算机</a>
    <a href="upload_book/3/weidianzi">微电子</a>
    <a href="upload_book/3/dianke">电科</a>
    <a href="upload_book/3/xingong">信工</a>
    <li>大二下</li>
     <a href="upload_book/4/dianqi" >电气</a>
    <a href="upload_book/4/cekong" >测控</a>
    <a href="upload_book/4/zidonghua" >自动化</a>
    <a href="upload_book/4/xinan" >信安</a>
    <a href="upload_book/4/ruanyuan">软院</a>
    <a href="upload_book/4/jisuanji">计算机</a>
    <a href="upload_book/4/weidianzi">微电子</a>
    <a href="upload_book/4/dianke">电科</a>
    <a href="upload_book/4/xingong">信工</a>
    <li>大三上</li>
     <a href="upload_book/5/dianqi" >电气</a>
    <a href="upload_book/5/cekong" >测控</a>
    <a href="upload_book/5/zidonghua" >自动化</a>
     <a href="upload_book/5/xinan" >信安</a>
    <a href="upload_book/5/ruanyuan">软院</a>
    <a href="upload_book/5/jisuanji">计算机</a>
    <a href="upload_book/5/weidianzi">微电子</a>
    <a href="upload_book/5/dianke">电科</a>
    <a href="upload_book/5/xingong">信工</a>
    <li>大三下</li>
     <a href="upload_book/6/dianqi" >电气</a>
    <a href="upload_book/6/cekong" >测控</a>
    <a href="upload_book/6/zidonghua" >自动化</a>
    <a href="upload_book/6/xinan" >信安</a>
    <a href="upload_book/6/ruanyuan">软院</a>
    <a href="upload_book/6/jisuanji">计算机</a>
    <a href="upload_book/6/weidianzi">微电子</a>
    <a href="upload_book/6/dianke">电科</a>
    <a href="upload_book/6/xingong">信工</a>
     <li>大四上</li>
     <a href="upload_book/7/dianqi" >电气</a>
    <a href="upload_book/7/cekong" >测控</a>
    <a href="upload_book/7/zidonghua" >自动化</a>
    <a href="upload_book/7/xinan" >信安</a>
    <a href="upload_book/7/jisuanji">计算机</a>
    <a href="upload_book/7/weidianzi">微电子</a>
    <a href="upload_book/7/dianke">电科</a>



{% endblock %}