{% extends "app/layout.html" %}
{% block content %}
{% if uploaded_book_list %}
    <ul>
    {% for book in uploaded_book_list %}
        <li>{{ book.name_book }}</li>
        <li>{{ book.grade_book }}</li>
        <li>{{ book.discount_book }}</li>
        <li>{{ book.major_book }}</li>
        <img src="/media/{{ book.photo_book }}  " height="300" width="200" />
        <hr />  <!--想弄个分割线出来但是效果不太一样，可能是css的原因-->
    {% endfor %}
    </ul>
{% else %}
    <p>你还没有发布旧书</p>
{% endif %}

{% endblock %}
